Homestead.yaml
Homestead.json
.env
.idea
.vscode
/resources/assets/_gulp-builder/node_modules
/resources/assets/_gulp-builder/bower_components
/packages
/resources/assets/_gulp-builder/.sass-cache
/storage/debugbar
/resources/asset/_gulp-builder/bower_components/
/resources/asset/_gulp-builder/node_modules/
/resources/asset/_gulp-builder/.sass-cache/
/resources/asset/_gulp-builder/yarn-error.log
/packages/
.mysql/
.ssl/